@import '../../styles/colors.scss';

.button-alert {
  background: $alert-button-bg;
  box-shadow: inset 0px 0px 16px 0px $alert-button-shadow, inset 0px 0px 0px 1px $alert-button-shadow;
  color: $alert-button-shadow;
}

.button-alert:hover {
  background: $alert-button-hover-bg;
  box-shadow: inset 0px 0px 16px 0px $alert-button-hover-shadow, inset 0px 0px 0px 1px $alert-button-hover-shadow;
  color: $alert-button-hover-color;
}