@import '../../styles/colors.scss';

.button-primary {
  background-color: #4CAF50;
  color: white;
  box-shadow: inset 0px 0px 16px 0px $primary-button-shadow, inset 0px 0px 0px 1px $primary-button-shadow;
  padding: 10px 20px;
  cursor: pointer;
}

.button-primary:hover {
  background: #5fd763;
  box-shadow: inset 0px 0px 16px 0px $primary-button-hover-shadow, inset 0px 0px 0px 1px $primary-button-hover-shadow;
  color: white;
}

