@import 'common/styles/colors';

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */

  display: flex;
  align-items: center;
}

.container-fluid {
  padding: 0;
}