# testing
/coverage

# misc
**/.DS_Store
**/Thumbs.db

**/.env
**/package-lock.json

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# compiled output
*.tsbuildinfo
**/dist
**/tmp

# Deps
**/node_modules
**/yarn.lock

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock

# css
**/*.css

workspaces/*
!workspaces/createWorkspace.js
!workspaces/workspace-template
!workspaces/README.md
