@import '../../styles/colors';

.button-page {
  padding: 10px 15px;
  background: $page-button-bg;
  box-shadow: inset 0px 0px 16px 0px $page-button-shadow, inset 0px 0px 0px 1px $page-button-shadow;
  color: $page-button-color;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; /* future proofing */
  -khtml-border-radius: 5px; /* for old Konqueror browsers */
}

.button-page:hover {
  box-shadow: inset 0px 0px 16px 0px $page-button-hover-shadow, inset 0px 0px 0px 1px $page-button-hover-shadow;
  color: $page-button-hover-color;
}