/******** THEME ********/
$color-dark-blue: #171D27;
$color-light-blue: #222835;
$color-lighter-blue: #353E51;
$color-lightest-blue: #485167;
$color-blue-border: #303A4D;
$color-gray-border: #E7E7E7;
$color-dark-gray-border: #737373;
$color-background: #2eaedc;
$color-background-light: #94daff;
$color-green: #00bd00;
$color-error: #ff0000;
$color-light-gray: #fafafa;
$color-gold: #FFD700;

/******** PAGINATION TABLE ********/
$page-table-shadow: #E7E7E7;
$page-table-bg: #fafafa;
$page-table-header-bg: #FFFFFF;
$page-table-header-shadow: #FFFFFF;
$page-table-row-one-bg: #fafafa;
$page-table-row-two-bg: #FFFFFF;
$page-table-hover-bg: #94daff;
$page-table-hr-color: #aeaeae;

/******** CONTAINER ********/
$container-border: #E7E7E7;

/******** TEXT INPUT ********/
$text-input-border: #E7E7E7;
$text-input-bg: #fafafa;
$text-input-placeholder: #757582;

/********* BUTTONS ********/
// Alert
$alert-button-bg: #742727;
$alert-button-shadow: #ba3e3e;
$alert-button-color: #e69b9b;

$alert-button-hover-bg: #742727;
$alert-button-hover-shadow: #d74242;
$alert-button-hover-color: #FFFFFF;

// Primary
$primary-button-bg: #4CAF50;
$primary-button-shadow: #6aa656;
$primary-button-color: #b4dba8;

$primary-button-hover-bg: #4CAF50;
$primary-button-hover-shadow: #6eb058;
$primary-button-hover-color: #FFFFFF;

// Secondary
$secondary-button-bg: #4CAF50;
$secondary-button-shadow: #6aa656;
$secondary-button-color: #b4dba8;

$secondary-button-hover-bg: #4CAF50;
$secondary-button-hover-shadow: #6eb058;
$secondary-button-hover-color: #FFFFFF;

// Page
$page-button-bg: #FFFFFF;
$page-button-shadow: #fafafa;
$page-button-color: #000000;

$page-button-hover-bg: #FFFFFF;
$page-button-hover-shadow: #E7E7E7;
$page-button-hover-color: #000000;