@import '../../common/styles/colors';

#register-page {
  width: 100%;
  min-height: 100vh;

  .register-container {
    text-align: center;
  }

  input {
    margin-bottom: 10px;
  }

  form {
    margin: 5% 10% 5% 10%;
  }

  .form-group {
    margin: 20px 0 20px 0;
    padding: 5px;
  }

  .select {
    width: 80%;
    padding: 10px 10px;
    margin: 0 0;
    display: inline-flex;
    border: 1px solid $color-gray-border;
    box-sizing: content-box;

    background: $color-light-gray;

    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; /* future proofing */
    -khtml-border-radius: 2px; /* for old Konqueror browsers */
  }

  .register-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

}